<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <title>Document</title>
</head>
<body>
    
    <div class="center" id="center">
        
        
                    <h3 style="text-transform: lowercase; text-decoration: none; color: black;">
                        <%=maildetails.receiver%>
                        
                    </h3>

                    <p>
                        <%= maildetails.mailtext%>
                    </p>
                
            

   
</div>
</body>
</html>