<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <title>Document</title>
</head>
<body>
    <div class="center" id="center">
        
                <% foundUser.sentMails.forEach(function(elem){ %>
                    <a href="/readmore/<%= elem._id %>" >
                        <div id="mails">
                            <h3 style="text-transform: lowercase; text-decoration: none; color: black;">
                                <%= elem.receiver%>
                                
                            </h3>

                            <p>
                                <%= elem.mailtext %>
                            </p>
                        </div>
                    </a>
                    <%})%>

           
    </div>
</body>
</html>